In [11]:
import pandas as pd
import numpy as np

In [18]:
test_path = "C:/Users/weiso131/Desktop/sklearn/titanic_disaster/titanic/test.csv"


keep_test = [ "Pclass", "Sex", "SibSp", "Parch",  "Fare"]

titanic_test_df = pd.read_csv(test_path)

titanic_test_df = titanic_test_df[keep_test]
titanic_dropna = titanic_test_df.dropna()

In [19]:
titanic_nan_index = []

for i in range(len(titanic_test_df)):
    if (i in titanic_dropna.index): continue
    titanic_nan_index.append(i)

In [20]:
titanic_nan = titanic_test_df.loc[titanic_nan_index, keep_test]
pd.set_option("display.max_rows", None)
print(titanic_nan)

     Pclass   Sex  SibSp  Parch  Fare
152       3  male      0      0   NaN

In [ ]:
#發現Fare和Age有NaN